@model HRSystem.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}
<div class="jumbotron">
    <h2>Reset Password</h2>

    @using (Html.BeginForm())
    {
        <div class="row">
                @Html.DisplayNameFor(model => model.Username)
                <br />
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
                <br />
                @Html.DisplayNameFor(model => model.SecurityAnswer)
                <br />
                @Html.TextBoxFor(model => model.SecurityAnswer)
                @Html.ValidationMessageFor(model => model.SecurityAnswer)
                <br />
                @Html.DisplayNameFor(model => model.NewPassword)
                <br />
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
                <br />
                @Html.DisplayNameFor(model => model.ConfirmPassword)
                <br />
                @Html.PasswordFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                <br />
                @ViewBag.ResetPasswordMessage
                <br />
                <input type="submit" value="Submit" />
        </div>

    }
</div>